body{
background: url (C:\Users\Henry Suar\Desktop\tarea pagina progra 1\fotos\f5.jpg):
}
font-family: arial, helvetica;
background: #e8e8e8;
}

.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width:90%;
	max-width: 745px;
	margin: center;
	
}
.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
	
}

.menu li a:hover{
	background: blue;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}